.popup__save-button {
    margin: 10px 0 37px;
    min-width: 358px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    outline: 0;
    border-radius: 2px;
}

.popup__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 600px) {
    .popup__save-button {
        margin: 10px 0 25px;
        min-width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}